:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
}

/* Basic layout */

body {
  background-color: #fefefefe;
  color: #444444;
  font-family: var(--sans-font);  
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

header {
  padding: 0ch;
  width: 100%;
  background-color: #fefefe;
  /* Border that extends all the way across the screen */
  /* border-bottom: 2px solid black; */
  /* 1px solid #dddddd */
}

main {
  max-width: 60ch;
  padding: 1ch 2ch 1ch 2ch;
  margin: auto;
  line-height: 1.5em;
}

footer {
  /*background-color: #666666;
  color: white;*/
  padding: 0ch;
  width: 100%;
  position: sticky;
  top: 100%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 1ch 2ch 2ch 2ch;
  max-width: 60ch;
  border-top: 2px solid #444444;
}

/*
footer a {
  color: white;
}
/*

/* Header/nav style */
.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  padding: 1ch 2ch 0.5ch 2ch;
  max-width: 60ch;
  border-bottom: 2px solid #444444;
}
header a.title {
  text-decoration: none;
  margin: 0;
  color: black;
}
header h1 {
  margin: 0.25em 0.25em 0.15em 0; 
}
header div.title-container {
  margin: 0.25em 0.25em 0.25em 0; 
}
header p {
  color: darkgray;
  margin: 0;
}

nav {
  margin-top: auto;
  margin-bottom: 0.25em;
  vertical-align: bottom;
}

nav a {
  margin-left: 2px;
  margin-right: 2px;
}

/* Otherwise in small screens the group of Nav items will have a gap to left 
page limit */
nav a:first-child {
  margin-left: 0;
}
nav a:hover {
  color: black;
}
nav a:active {
  color: black;
}


/* Table style */

table {
  border-collapse: collapse;
  text-align: left;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

table th {
  border-bottom: 2px solid;
  font-weight: bold;
  padding: 5px 5px;
}

table tr {
  border-bottom: 1px Gray dotted
}

#postable td {
  padding: 4px 5px;
}

#postable td:first-child {
  text-align: center;
}


/* Figure/images */

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

figure {
  margin: 1em 0 1em 0;
}

figcaption {
  font-style: italic;
  font-weight: normal;
  padding: 2px;
  text-align: center;
}

figcaption h4 {
  text-align: left;
  margin: 0.5em 0 0 0;
}

figcaption p {
  text-align: left;
  margin: 0 0 0 0;
}


h1 {
  font-size: 1.75em;
}

blockquote {
  border-left: 1px solid #999;
  color: #222;
  padding-left: 20px;
  font-style: italic;
}

/* Code blocks */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
  background: #f9f9f9;
}
code { background: #f9f9f9; }
pre code { background: none; }


/* blog posts */
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

ul.blog-posts li a:visited {
  color: #8b6fcb;
}
